/*----------------------------------------------- Menu ---------------------------------------------------->*/

.side-menu {
    height: 98%;
    width: 0;
    position: fixed;
    top: 0%;
    bottom: 1%;
    left: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 9999;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 36px;
    color: black;
    cursor: pointer;
}

.side-menu a {
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.side-menu a:hover {
    color: #000000;
}

.logout-btn-side {
    font-size: 20px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 16px 32px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.logout-btn-side:hover {
    color: #000000;
}

.menu-icon {
    font-size: 30px;
    color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10000;
}


/*--------------------------------------------------------------------------------------------------------->*/