body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #000000, #000000);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    position: relative;
}


/*------------------------------------------------ Fondo ---------------------------------------------------->*/

body::before,
body::after,
.glow-1,
.glow-2,
.glow-3 {
    content: "";
    position: fixed;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
}

body::before {
    width: 450px;
    height: 600px;
    background: #ff4f7b;
    top: 20%;
    left: 25%;
}

body::after {
    width: 450px;
    height: 550px;
    background: #e429fd;
    bottom: 20%;
    right: 25%;
}

.glow-1 {
    width: 300px;
    height: 300px;
    background: #ff69b4;
    top: 55%;
    left: 15%;
}

.glow-2 {
    width: 280px;
    height: 280px;
    background: #ff1493;
    bottom: 45%;
    right: 15%;
}

.glow-3 {
    width: 350px;
    height: 350px;
    background: #ff85a2;
    top: 25%;
    right: 25%;
}

/*--------------------------------------------------------------------------------------------------------->*/

/*---------------------------------------------- LOGIN ---------------------------------------------------->*/



.form-box {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    /* Asegura que esté por encima de las bolas */
}

.form-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-box button {
    background-color: #000000;
    color: white;
    padding: 12px 25px;
    border: 2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

.form-box button:hover {
    background-color: #000000;
    border-color: #000000;
}

.back-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.back-btn:hover {
    color: #000000;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}


/*--------------------------------------------------------------------------------------------------------->*/

/*---------------------------------------------- PERFIL ---------------------------------------------------->*/

