<!--
NADA HECHO
FALTA CSS
MIRAR TABLA ayuda
    usuario_id
    mensaje

Hay que crear un chat para contestar.
    O encontrar una forma de contestar por mail
-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UniMatch - ADM</title>
    <link rel="stylesheet" href="ADM.css" />
    <link rel="stylesheet" href="../Menu/menu.css" />
    <link rel="stylesheet" href="chat.css" />

    <link rel="icon" href="../../Imagenes/img1.png" type="image/x-icon">
    
    <script src="menu_lateral.js" defer></script>
    <script src="gestion_session.js"></script>
    <script src="ayuda.js" defer></script>
  </head>
  <body>
    <!-- Icono para abrir menú lateral -->
    <span class="menu-icon" onclick="openMenu()">&#9776;</span>

    <!-- Menú lateral -->
    <div id="sideMenu" class="side-menu">
      <span class="close-btn" onclick="closeMenu()">&times;</span>
      <a href="perfil_ADM.html">Perfil</a>
      <a href="home.html">Home</a>
      <a href="denuncias.html">Denuncias</a>
      <a href="ayuda.html">Ayuda</a>
      <button
        class="logout-btn-side"
        onclick="window.location.href='../../Controller/logout.php'"
      >
        Cerrar sesión
      </button>
    </div>

        <!-- Contenedor de la tabla de consultas-->
    <main class="table-container">
      <h1 class="section-title">CONSULTAS NUEVAS</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Protocolo</th>
            <th>Usuario</th>
            <th>Mensaje</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody id="tabla-new">
          <!-- Los datos de usuarios se cargan dinámicamente aquí -->
        </tbody>
      </table>
    </main>

     <div class="chat-container">
        <div class="chat-list">
            <div class="section-title">Consultas Abiertas</div>
        </div>

        <div class="chat-box">
            <h2>
                Chat
                <span id="chatUserInfo"></span>
            </h2>
            <div class="messages" id="messagesContainer"></div>
            <div class="message-input">
                <input type="text" id="message" placeholder="Escribe un mensaje...">
                <button onclick="sendMessage()">Enviar</button>
            </div>
        </div>
    </div>


    
  </body>
</html>