<!--
NADA HECHO
FALTA CSS
CREAR TABLA denuncias
-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UniMatch - ADM</title>
    <link rel="stylesheet" href="ADM.css" />
    <link rel="stylesheet" href="../Menu/menu.css" />
    <link rel="icon" href="../../Imagenes/img1.png" type="image/x-icon">

    <script src="menu_lateral.js" defer></script>
    <script src="gestion_session.js"></script>
  </head>
  <body>
    <!-- Icono para abrir menú lateral -->
    <span class="menu-icon" onclick="openMenu()">&#9776;</span>

    <!-- Menú lateral -->
    <div id="sideMenu" class="side-menu">
      <span class="close-btn" onclick="closeMenu()">&times;</span>
      <a href="perfil_ADM.html">Perfil</a>
      <a href="home.html">Home</a>
      <a href="denuncias.html">Denuncias</a>
      <a href="ayuda.html">Ayuda</a>
      <button
        class="logout-btn-side"
        onclick="window.location.href='../../Controller/logout.php'"
      >
        Cerrar sesión
      </button>
    </div>
  </body>