<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unimatch - En Desarrollo</title>
    <link rel="icon" href="../../Imagenes/img1.png" type="image/x-icon">
    <link rel="stylesheet" href="Pantalladebloqueo.css">
</head>
<body>
    <!------------------------------------------ INFO --------------------------------------------->
    <h1 id="welcome-text">Bienvenido a Unimatch </h1>
    <div class="message-box" id="message-box">
        <h2>📢 ¡Estamos en desarrollo!</h2>
        <p>Gracias por tu interés en Unimatch. Estamos trabajando duramente para ofrecerte la mejor experiencia. Pronto lanzaremos nuestra aplicación.</p>
        <p>¡Mantente atento a futuras actualizaciones!</p>
    </div>
    <div class="buttons" id="buttons">
            <!--
        <a href="javascript:void(0);" onclick="showForm('login-form')" class="btn">Iniciar Sesión</a> 
            -->
        <a href="Login.html" class="btn">Iniciar Sesión</a>
        <a href="Registro.html" class="btn">Registrarse</a>
        <a href="../ADM/login_ADM.html" class="btn">ADM login</a>
    </div>

</body>
</html>