<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unimatch - En Desarrollo</title>
    <link rel="icon" href="../../Imagenes/img1.png" type="image/x-icon">
    <link rel="stylesheet" href="Pantalladebloqueo.css">
    <script src="cargarUnis.js"></script>
    <script src="Registro.js"></script>


    <style>
        .form-box {
            display: block;
        }
    </style>
</head>

<body>
    <div class="form-box" id="register-form">
        <a href="Pantalladebloqueo.html" class="back-btn">←</a>
        <h2>Registrarse</h2>
        <form id="registerForm" action="../../Controller/registro.php" method="GET">
            <input type="hidden" name="action" value="isValid">
            <input type="text" id="txt_email" name="txt_email" placeholder="Correo universitário" required>
            <label id="lbl_mail"></label>
            <input type="hidden" id="hidden_email" name="email_full">
            <label id="lbl_error" style="color: red; padding: 5px;"></label>
            <select id="SelectUni" name="uni_id"></select>
            <button type="submit">Siguiente</button>
        </form>
    </div>

    <div class="form-box" id="regs-form" style="display: none;">
        <a href="javascript:void(0);" onclick="mostrarRegistro()" class="back-btn">←</a>
        <h2>Registrarse</h2>
        <form action="../../Controller/registro.php" method="POST">
            <input type="hidden" id="id_gender" name="id_gender">
            <input type="hidden" id="id_uni" name="id_uni">
            <input type="hidden" id="hidden_email_2" name="email_full_2">
            <label id="lbl_mail_regs"></label>
            <input type="text" id="username" name="username" placeholder="Nombre de perfil (Inmutable)" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <select id="SelectGender" name="gender_id"></select>
            <button type="submit">Registrarse</button>
        </form>
    </div>

    
</body>

</html>
