body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ff5864, #fd297b);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.menu-icon {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10000;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 9999;
}

.side-menu a {
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #ddd;
}

.side-menu a:hover {
    color: #fd297b;
}

.side-menu .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 36px;
    color: black;
    cursor: pointer;
}

.config-container {
    background-color: white;
    border-radius: 15px;
    padding: 30px 25px;
    width: 450px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
    position: relative;
}

.config-title {
    text-align: center;
    font-size: 28px;
    color: #fd297b;
    margin-bottom: 20px;
    font-weight: 600;
}

.config-option {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.config-option label {
    font-size: 16px; /* Ajusté el tamaño del texto */
    font-weight: 600;
    color: #333;
    text-align: left;
    width: 80%; /* Reducido para que haya más espacio para el interruptor */
}

/* Estilo para los cuadrados */
.switch {
    width: 24px; /* Ancho reducido */
    height: 24px; /* Alto reducido */
    border: 2px solid #fd297b;
    border-radius: 4px; /* Hacemos el borde ligeramente redondeado */
    background-color: white;
    cursor: pointer;
    transition: 0.4s;
}

.switch.active {
    background-color: #fd297b; /* Se llena de rosa cuando está activado */
}

.config-button {
    background-color: #fd297b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.config-button:hover {
    background-color: #e11d5e;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: #fd297b;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}