body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #000000, #000000);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    position: relative;
}


/*------------------------------------------------ Fondo ---------------------------------------------------->*/

body::before,
body::after,
.glow-1,
.glow-2,
.glow-3 {
    content: "";
    position: fixed;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
}

body::before {
    width: 450px;
    height: 600px;
    background: #ff4f7b;
    top: 20%;
    left: 25%;
}

body::after {
    width: 450px;
    height: 550px;
    background: #e429fd;
    bottom: 20%;
    right: 25%;
}

.glow-1 {
    width: 300px;
    height: 300px;
    background: #ff69b4;
    top: 55%;
    left: 15%;
}

.glow-2 {
    width: 280px;
    height: 280px;
    background: #ff1493;
    bottom: 45%;
    right: 15%;
}

.glow-3 {
    width: 350px;
    height: 350px;
    background: #ff85a2;
    top: 25%;
    right: 25%;
}


/*--------------------------------------------------------------------------------------------------------->*/


/*---------------------------------------- Subir Histoiria (+) --------------------------------------------->*/

.add-button {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover {
    background-color: white;
    color: #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-popup {
    position: fixed;
    bottom: -100%;
    right: 40px;
    width: 90%;
    max-width: 450px;
    height: 500px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease-in-out;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-popup.show {
    bottom: 50px;
}

.profile-popup h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin: 20px 0;
    width: 100%;
}

.close-popup {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-popup:hover {
    color: #333;
}

.profile-popup input,
.profile-popup textarea {
    width: 90%;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.profile-popup textarea {
    height: 120px;
    resize: none;
}

.profile-popup button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 90%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-popup button:hover {
    background-color: #333;
}


/*--------------------------------------------------------------------------------------------------------->*/


/*-------------------------------------------- Islas Centro------------------------------------------------>*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 10px;
}

.carousel-container {
    position: relative;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.island {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
}

.left-arrow {
    left: -60px;
}

.right-arrow {
    right: -60px;
}

.add-button {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover {
    background-color: white;
    color: #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-popup {
    position: fixed;
    bottom: -100%;
    right: 40px;
    width: 90%;
    max-width: 450px;
    height: 500px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
    transition: bottom 0.5s ease-in-out;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-popup.show {
    bottom: 50px;
}

.profile-popup h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin: 20px 0;
    width: 100%;
}

.close-popup {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-popup:hover {
    color: #333;
}

.profile-popup input,
.profile-popup textarea {
    width: 90%;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.profile-popup textarea {
    height: 120px;
    resize: none;
}

.profile-popup button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 90%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-popup button:hover {
    background-color: #333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 10px;
}

.carousel-container {
    position: relative;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.island {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
}

.left-arrow {
    left: -60px;
}

.right-arrow {
    right: -60px;
}

.island {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}


/*--------------------------------------------------------------------------------------------------------->*/